*{
margin:0;
padding:0;
}
#container{
    margin-left: 100px;
    margin-right: 100px;
}
header{
    height: 148px;
    background-image: url(../img/banner1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#reloj{
    color: white;
    text-align: center;
    margin-right: 30px;
    margin-top: 5px;
}
#idiomas{
    float: right;
    margin-right: 30px;
    margin-top: -10px;
}
.nose {
    float: left;
}
#idiomas img{
    float: left;
    width: 30px;
    height: 15px;
    margin-left: 3px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(#active) {
  background-color: #111;
}
#active {
  background-color: rgb(179, 66, 66);
}
h3 {
    text-align: center;
}
img {
    height: 150px;
    width: 120px;
}
footer {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    float: left;
    bottom: 0;
}
footer p {
    padding-top: 5px;
}
dd{
  margin-left: 50px;
}
#FotSin{
  margin-top: 75px;
  float:left;
  width: 450px;
  height:250px;
  margin-left: 40px;
  border-radius: 5%;
}
section{
  margin:20px;
}
#datos{
  float: left;
  width: 500px;
  margin-left: 15px;
  margin-bottom: 50px;
}
#datos>h2{
  margin-bottom: 5px;
  text-align: center;
}